body,html{
    margin: 0px;
    padding: 0px;
}
.navbar{
    border-bottom: 4px solid green;
}
.homepg-header{
    font-size: 60px;
    margin-left: 150px;
}
.btn{
    margin-left: 150px;
}
.info{
    margin-left: 150px;
    font-size: 17px;
}
.text-start{
    margin-left: 140px ;
}
.carrd-para{
    font-size: 15px;
}
.testimonials-head{
    font-size: 50px;
    margin: 50px 0px 0px 60px ;
}
.brand{
    margin-left: 190px;
}
.btn-margin-left{
    margin-left: 180px;
}
.msg-img{
    border-radius: 50px;
}
.msg-txt{
    font-size: 15px;
}
.contact-img{
    height: 25px;
}
.last-para{
    font-size: 18px;
}
.uparrow-img{
    height: 35px;
}
.form-control{
    width: 430px;
}
#Create-Acc{
    background-image: url(images/banner2.jpg);
    background-size: cover;
}
.homepg-header{
    font-size: 60px;
    margin-left: 150px;
}
@media only screen and (max-width:768px){
.homepg-header{
    font-size: 30px;
    margin-left: 10px;
}
.info{
    font-size: 12px;
    margin-left: 10px;
}
.btn{
    margin-left: 10px;
}
.homepg-mobile{
    width: 370px;
    height: 280px;    
}
.text-start{
    margin-left: 50px;
}
.firstbox-margin-top{
    margin-top: 0px!important;
}
.testimonials-head{
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 0px 25px ;
}
.testimonials-para{
    font-size: 15px!important;
    text-align: center;
}
.brand{
    margin-left:5px;
}
.btn-margin-left{
    margin-left: 85px!important;
}
.margintop{
    margin-top: 30px!important;
}
.footer-txt{
font-size:13px!important ;
margin-top: 25px;
}
.singup-btn{
    font-size: 10px!important;
    margin-right: 0px!important;
} 
.contact-img{
    height: 14px;
    margin-left: 0px!important;
    }
.uparrow-img{
    height: 5px;
}
.last-para{
    font-size: 14px;
    }
.uparrow-img{
    height: 20px;
}
.footer-size{
  font-size: 9px;
  margin-left: 0px;
}
.form-control{
    width: 250px;
}
.form-control:hover{
    box-shadow: 0px 0px 2px 0px green;
}
.info{
    font-size: 16px!important;
}
}