body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#navbar{
    border-bottom: 4px solid green;
}
.nav-item{
    margin-right: 20px;
}
.homepg-header{
    color: green;
    font-size: 60px;
    margin-left: 150px;
    text-transform: capitalize;
}
.homepg-mobile{
    height: 350px;
    width: 500px;
}
.info{
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 150px;
}
.logo{
    margin-left: 180px;
}
.btn1{
    background-color: rgb(69, 221, 69);
    color: white;
    border-radius: 24px;
    padding: 11px 43px;
    border: none;
    margin-left: 150px;
}
.text-center{
    font-size: 40px;
    color: green;
}
.text-start{
    font-size: 30px;
    margin-left: 200px;
}
.container-card{
    margin-left: 180px;
}
.cardbody{
    padding: 20px; 
    width: 300px;
    box-shadow: 0px 0px 10px 0px black;
    height: 250px;
}
.card-logo{
    margin-left: 95px;
    padding-bottom: 10px;
}
.card-head{
    font-size: 22px;
    color: green;
}
.about-head{
    font-size: 35px;
    margin-left: 150px;
    color: green;
    margin-bottom: 30px;
}
.about-img{
 height: 400px;
 width: 500px;
 margin-top: 110px;
}
.stock-mobile{
    height: 500px;
    width: 400px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.testimonials-head{
    font-size: 40px;
    color: green;
    margin: 150px 0px 0px 100px ;
}
.brand{
    margin-left: 170px;
}
.testimonials-para{
    font-size: 17px;
    margin: 10px 0px 0px 70px ;
}
.btn2{
    background-color: rgb(69, 221, 69);
    color: white;
    border-radius: 24px;
    padding: 11px 43px;
    border: none;
    margin-left: 180px;
}
.msg-center{
    margin-left: 300px;
}
.msg-img{
    border-radius: 50px;
    padding: 10px;
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
}
.sing-up-txt{
    font-size: 35px; 
    color: white;
}
.sing-up{
    background-color: green;
    padding: 60px 0px 60px 200px;
}
.singbtn{
    font-size: 24px;
    border-radius: 30px;
    padding: 5px 30px 5px 30px;
    border: none;
    margin-left: 300px;
}
.contact-txt{
    color: green;
    font-size: 15px;
    margin-left: 150px;
    padding-top: 10px;
}
.contact-img{
    height: 25px;
    padding-right: 10px;
}
.uparrow-img{
    height: 35px;
    background-color: green;
}
.contact-allimg{
    margin-left: 500px;
}
.singup-head{
    font-size: 30px;
    margin: 50px 0px 20px 100px;
    color: gray;
}
.acc-txt{
    font-size: 40px;
    color: green;
}
#exampleInputName1{
    width: 400px;
    margin-left: 10px;
}
.form-label{
    margin-left: 10px;
}
.form-text{
    margin-left: 20px;
}
.form-check-label{
    margin-left: 10px;
}
.btn-register{
    background-color: green;
    color: white;
    border: none;
    margin-left: 30px;
    border-radius: 50px;
    padding: 5px 20px 5px 20px ;
}
.btn-register:hover{
    background-color: lightgreen;
    color: black;
}
#exampleCheck1{
    margin-left: 10px;
}
form{
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    padding: 40px;
    margin: 50px 0px 0px 450px;
}
#Create-Acc{
    background-image: url(images/banner2.jpg);
    background-size: cover;
}
@media only screen and (max-width:768px){
.logo{
    margin-left: 0px;
    width: 200px;
}
.homepg-header{
    font-size: 30px;
    margin-left: 10px;
}
.info{
    font-size: 10px;
    margin-left: 10px;
}
.btn1{
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 0px;
}
.homepg-mobile{
    width: 300px;
    margin-left: 40px;
    height: 200px;    
}
.text-center{
    font-size: 30px;
    color: green;
}
.text-start{
    font-size: 20px;
    margin-left: 20px;
}
.container-card{
    margin-left: 40px;
}
.cardbody{
    margin-top:30px;
}
.about-head{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.about-img{
 height: 250px;
 width: 300px;
 margin: 0px 0px 0px 30px;
 padding-bottom: 30px;
}
.stock-mobile{
    height: 250px;
    width: 200px;
    margin: 0px 0px 0px 90px;
}
.testimonials-head{
    font-size: 25px;
    margin: 0px 0px 0px 100px ;
}
.brand{
    margin-left: 130px;
}
.testimonials-para{
    font-size: 13px;
    margin: 10px 0px 0px 40px ;
}
.btn2{
    border-radius: 10px;
    padding: 5px 15px;
    margin: 15px 0px 30px 130px;
}
.msg-center{
    margin-left: 15px;
}
.sing-up-txt{
    font-size: 15px; 
}
.sing-up{
    padding: 10px 0px 10px 10px;
}
.singbtn{
    font-size: 10px;
    padding: 2px 10px 2px 10px;
    margin-left: 30px;
}
.contact-txt{
    font-size: 6px;
    margin-left: 0px;
    padding-top: 5px;
}
.contact-img{
    height: 15px;
    padding-right: 0px;
}
.uparrow-img{
    height: 18px;
    background-color: green;
}
.contact-allimg{
    margin-left: 12px;
}
.acc-txt{
    font-size: 30px;
}
#exampleInputName1{
    width: 200px;
    height: 25px;
    margin-left: 5px;
}
#exampleInputName1:hover{
    box-shadow: 0px 0px 2px 0px green;
}
.form-label{
    margin-left: 10px;
    padding-bottom: 10px;
}
.form-text{
    margin-left: 10px;
}
.form-check-label{
    margin-left: 5px;
    font-size: 5px;
}
.btn-register{
    margin-left: 50px;
}
form{
    width: 250px;
    height: 460px;
    padding: 20px;
    margin: 15px 0px 0px 0px;
}
#Create-Acc{
    padding: 20px;
    height: 600px;
    width: auto;
    margin: 0px;
}
}